@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}
* h2 {
  display: flex;
  justify-content: center;
}
* h3 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
* .tachado {
  text-decoration: line-through;
}

.navbar {
  background-color: #72B6E8;
}

.icono {
  position: relative;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.productos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.productos-grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}
.productos-grid-index .card {
  font-size: medium;
  max-width: 40%;
}

@media (max-width: 1200px) {
  .productos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .productos-grid-index {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
  }
  .productos-grid-index .card {
    font-size: smaller;
    max-width: 40%;
  }
}
@media (max-width: 700px) {
  .productos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contacto {
    padding: 5;
    position: fixed;
    right: 0px;
    bottom: 60px;
  }
}
.productos-grid1:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.productos-grid2:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.productos-grid3:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.productos-grid4:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.productos-grid5:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.productos-grid6:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.nos {
  display: flex;
  justify-content: center;
  height: 40rem;
}
.nos img {
  width: 60%;
  max-width: 600px;
  height: 100%;
}

.mapa {
  display: flex;
  justify-content: center;
}
.mapa iframe {
  width: 60%;
  max-width: 600px;
  height: 100%;
}

.text {
  font-size: small;
  text-align: center;
}

@media (max-width: 1200px) {
  .nos {
    display: flex;
    justify-content: center;
    height: 30rem;
  }
  .mapa iframe {
    width: 50%;
    max-width: 500px;
    height: 100%;
  }
}
.text {
  font-size: smaller;
  text-align: center;
}

@media (max-width: 700px) {
  .nos {
    display: flex;
    justify-content: center;
    height: 20%;
  }
  .mapa {
    height: auto;
  }
  .mapa iframe {
    width: 70%;
    max-width: 400px;
    height: 100%;
  }
}
@media (max-width: 700px) and (max-width: 400px) {
  .nos {
    display: flex;
    justify-content: center;
    height: 20%;
  }
  .mapa {
    height: auto;
  }
  .mapa iframe {
    width: 70%;
    max-width: 400px;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .text {
    font-size: smaller;
    text-align: center;
  }
}
.pedidoo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pedidoo .pedido {
  width: 40rem;
  height: 15rem;
  text-align: start;
}

.botonpedido {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .pedidoo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pedidoo .pedido {
    width: 29rem;
    height: 10rem;
    text-align: start;
  }
}
@media (max-width: 700px) {
  .pedidoo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pedidoo .pedido {
    width: 20rem;
    height: 10rem;
    text-align: start;
  }
}
.contacto {
  padding: 5px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  color: lightgreen;
  background-color: lightgreen;
  text-decoration: none;
  border-radius: 5px;
}

.btn-im {
  text-align: right;
  justify-content: space-between;
  align-items: right;
}

.lista2 {
  background-color: rgb(228, 228, 228);
  padding: 4rem;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.lista2 .botonpedido {
  display: flex;
  justify-content: center;
}

.consulta {
  width: 40rem;
  height: 10rem;
  position: relative;
}

@media (max-width: 1200px) {
  .consulta {
    width: 30rem;
    height: 10rem;
    position: relative;
  }
}
@media (max-width: 700px) {
  .consulta {
    width: 20rem;
    height: 10rem;
    position: relative;
  }
}
@media (max-width: 400px) {
  .consulta {
    width: 15rem;
    height: 7rem;
    position: relative;
  }
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  height: auto;
  position: relative;
  bottom: 0;
  text-decoration: none;
  margin-top: 300px;
}
footer .redes-facebook {
  text-decoration: none;
}
footer .redes-instagram {
  text-decoration: none;
}

.redes {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.redes .redes-facebook {
  width: 1rem;
}
.redes .redes-instagram {
  width: 1rem;
}

.redes-facebook {
  background-color: rgb(25, 121, 231);
  text-decoration: none;
  font-weight: normal;
}

.redes-instagram {
  background-color: rgb(220, 27, 178);
  text-decoration: none;
  font-weight: normal;
}/*# sourceMappingURL=styles.css.map */