@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Secular One', sans-serif;}

.menu{
    background-color: #72B6E8;
    font-size: 1.5rem ;
    text-align:center; 
    background-repeat: no-repeat;
    background-position: left top;
    background-size:contain;
}

/**/
/*index*/

.gridinicio
{ 
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    list-style: none;
    height: 100vh;
    padding-top: 1rem;
    background-color: white;
    grid-template-areas:
        "PRODUCTOS PRODUCTOS"
        "NOSOTROS INFOMAYORISTA"
        ;
}

.productos {
    background-color:rgb(171, 184, 238); 
    grid-area: PRODUCTOS;
    background-image: url(./img/improd/Productos.jpg);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
}

.nosotros{
    background-color: rgb(177, 177, 177);
    grid-area: NOSOTROS;
    background-image: url(./img/Nosotros1.jpg);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background-size:cover;
    background-repeat: no-repeat;
}

.info-mayorista{
    background-color: rgb(228, 228, 228);
    grid-area: INFOMAYORISTA;
    background-image: url(./img/info.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: aliceblue   
}

.botoninicio{
    font-size: 5rem;
}

h1{ 
    margin: 0px;
    padding: 1px;
    font-weight:bolder;
    text-align: left;
    color: whitesmoke;
    background-color: #72B6E8;
    font-size:2.8rem ;
    text-decoration: none;
    height: 100%;
}

.icono{
    position: relative;
    width:100px; 
    height: auto;
}

@media (max-width: 700px){
    
    .gridinicio
    { 
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr ;
        justify-content: left;
        list-style: none;
        height: 100vh;
        padding-top: 1rem;
        background-color: white;
        grid-template-areas:
            "PRODUCTOS "
            "NOSOTROS "
            "INFOMAYORISTA"
            ;
    }
    
    .productos {
        background-color:rgb(171, 184, 238); 
        grid-area: PRODUCTOS;
        background-image: url(./img/Productos.jpg);
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        color: aliceblue;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .nosotros{
        background-color: rgb(177, 177, 177);
        grid-area: NOSOTROS;
        background-image: url(./img/Nosotros1.jpg);
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        color: aliceblue;
        background-size:cover;
        background-repeat: no-repeat;
    }
    
    .info-mayorista{
        background-color: rgb(228, 228, 228);
        grid-area: INFOMAYORISTA;
        background-image: url(./img/info.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        color: aliceblue   
    }
    
    .botoninicio{
        font-size: 3rem;
    }
    
    h1{ 
        margin: 0px;
        padding: 1px;
        font-weight:bolder;
        text-align: left;
        color: whitesmoke;
        background-color: #72B6E8;
        font-size:2.8rem ;
        text-decoration: none;
        height: 100%;
    }
    
    .icono{
        position: relative;
        width:100px; 
        height: auto;
    }
    
};
/**/
/*contacto*/

.contacto{

  padding: 5px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  background-color: lightgreen;
  text-decoration: none;
}


/**/
/*footer*/

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    height: auto;
    position: relative;
    bottom: 0;
}
/**/ 
/*nosotros*/

img.nosotros{
    position:relative;
    width: 50rem;
    height: auto;
    padding: 3;
    left: 0rem;
    bottom: 0rem;
    display: flex;
}

.mapa{
    position: relative;
    width: 50rem;
    height: 40rem;
    padding: 3;
    right: 0rem;
    display: flex;
}

.text{
    font-size: medium;
    text-align:center; 
}

/**/
/*infomayorista*/

.pedido{
    width: 80rem;
    height: 15rem;
    position: relative;
    top: 50%;
    left: 25%;
}

.consulta{
    width: 40rem;
    height: 10rem;
    position: relative;
}

.boton{
    width: 8rem;
    height: 2rem;
    position: relative;
    top: 50%;
    left: 25%;
}

.lista2{
    background-color: lightgray;
    padding: 4rem;
    list-style-type: none;
    justify-content: center;  
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
}

/**/
/*productos*/

.productos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1;
    padding-top: 1rem;
    color: aqua;
    justify-content: center;
}
@media(max-width: 700px){
    h1{ 
        margin: 0px;
        padding: 1px;
        font-weight:bolder;
        text-align: left;
        color: whitesmoke;
        background-color: #72B6E8;
        font-size:2.8rem ;
        text-decoration: none;
        height: 100%;
    }
    
    .icono{
        position: relative;
        width:100px; 
        height: auto;
    }
 .productos-grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1;
    padding-top: 1rem;
    color: aqua;
    justify-content: center;
    }
    .contacto{
        padding: 5;
        position:fixed;
        right: 0px;
        bottom: 60px;
    }
}

/**/

