.nos{ 
    display: flex;    
    justify-content: center;
    height: 40rem;  
}

.mapa{
    display: flex;
    justify-content: center;
    height: 40rem;
    
}
@media(max-width: 1200px){
    .nos{
        display: flex;    
    justify-content: center;
    height: 30rem;
    }
    .mapa{ 
       height: auto;
        }
}
@media(max-width: 700px){
    .nos{
        display: flex;    
    justify-content: center;
    height: 20rem;
    }
    .mapa{ 
       height: auto;
        }
}

.text{
    font-size: small;
    text-align:center; 
}