.productos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.productos-grid-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    .card{
        font-size:medium ;
        max-width: 40%;
    }
   
    }

@media(max-width: 1200px){
    .productos-grid{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        }
        .productos-grid-index{
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 1rem;
            .card{
                font-size: smaller;
                max-width: 40%;
            }            
        }
}
@media(max-width: 700px){
  
    .productos-grid{ 
       display: grid;
       grid-template-columns: 1fr;
       gap: 1rem;
       }
       .contacto{
           padding: 5;
           position:fixed;
           right: 0px;
           bottom: 60px;
       }
    }

    @for $numero from 1 through 6 {
    .productos-grid#{$numero}:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
      }
    }