@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{

margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Secular One', sans-serif;
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.tachado{
    text-decoration: line-through;
}
}